@keyframes loadingAnimation {
    0% {
      background-color: yellow;
    }
    100% {
      background-color: blue;
    }
  }
  
  .loading-circle {
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    animation: loadingAnimation 4s ease-in-out alternate infinite;
    transform: translate(-50%, -50%);
    position: relative;
    top: 40px; left: 50%;
  }
  h1 {
    text-align: center;
    font-size: 24px;
  }
  .loading-container {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 50%;
  }